---
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout
  title={frontmatter.title}
  desc={frontmatter.lead}
  ogTitle={frontmatter.title}
  ogDesc={frontmatter.lead}
  ogImage={frontmatter.cover}
  ogUrl={frontmatter.ogUrl}
  canonical={frontmatter.canonical}
>
  <h1 class="text-8xl mt-10">{frontmatter.title}</h1>
  <p class="text-3xl mt-5 text-gray-600">{frontmatter.lead}</p>
  <a href="/" rel="noreferrer noopener">
    <button class="border p-2 rounded-none mt-10">Back</button>
  </a>
  <article class="markdown mt-20">
    <Content />
  </article>
</Layout>
