---
import "../styles/global.css";
const {
  title,
  desc,
  ogTitle,
  ogDesc,
  ogImage,
  ogUrl,
  canonical = "BurnRate.io",
} = Astro.props;
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.desc} />
    <meta property="og:title" content={Astro.props.ogTitle} />
    <meta property="og:description" content={Astro.props.ogDesc} />
    <meta property="og:image" content={`https://burn-rate.netlify.app/public/${Astro.props.ogImage}`} /> 
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content={`https://burn-rate.vercel.app/${Astro.props.ogUrl}`} />

       {/*Twitter  */}
       <meta property="twitter:card" content="summary_large_image" />
       <meta property="twitter:title" content={Astro.props.ogTitle} />
       <meta property="twitter:description" content={Astro.props.ogDesc} />
       <meta property="twitter:image" content={`https://burn-rate.netlify.app/${Astro.props.ogImage}`} />
       <meta
           property="twitter:url"
           content={`https://burn-rate.vercel.app/${Astro.props.ogUrl}`}
       />
    <link
      rel="canonical"
      href={`https://burn-rate.vercel.app/${Astro.props.ogUrl}`}
    />
    <meta property="og:type" content="website"/>
  </head>
  <body class="flex justify-between flex-col h-screen mx-auto max-w-6xl">
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
